html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

a {
    color: inherit;
    text-decoration: none;
}

img {
    max-width: 100%;
}

body {
    font-family: 'font', sans-serif;
}

.conteiner {
    max-width: 1230px;
    padding: 0 15px;
    margin: 0 auto;
}

.header__conteiner {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo {
    margin-right: 73px;
}

.nav__list {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    list-style-type: none;
}

.nav__link {
    padding-right: 42px;
}

.l {
    padding-right: 0px;
}

.header__link {
    padding-right: 37px;
}


